:root{
    --primary-color: red;
    --secondary-color: rgb(36, 34, 34);
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
}

h2,h3,h4{
    text-align: center;
   

}

h3, h4{
    font-weight: lighter;
    margin-top: 20px;
}

a {
    text-decoration: none;
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 2px;
}

hr{
    border: 3px solid var(--secondary-color);
    height: 5px;
}
.part-1 {
    margin-top: 110px;
}
.container-1 {
    height: 50vh;
    background: linear-gradient(2700deg, rgba(0,0,0,0.9),rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
} 

.nav{
    margin: 30px;
}
.container-1 .nav a {
    float: right;
}

.search {
    display: grid;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

input[type=search] {
    width: 430px;
    height: 45px;
    border: white solid 2px;
    font-size: 16px;
}

.btn-get-started {
margin-left: 37%;
margin-top: 10px;   
}

.text-margin{
    margin-top: 50px;
}
.part-1-text {
    margin: 10px 30px;
}
.container-2, .container-3{
    height: 45vh;
    margin-top: 50px;
}

.tv {
position: relative;
bottom: 5%;
}
.tv img {
    margin: 30px;
    width: 85%;
}

.tv video {
    height: 54%;
    width: 64%;
    margin-right: 10px;
    left: 49.5%;
    position: absolute;
    top: 100%;
    transform: translate(-50%,-150%);
    z-index: -1;
}

.bg-for-mobile{
    background-color: #000000;
    display: flex;
    align-items: center;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    width: fit-content;
    position: relative;
    bottom: 160px;
    transform: translate(18%, 80%);
    margin-right: 10px;
    height: 60px;
    width: 35vh;
}

.color-blue{
    color: blue;
}

.bg-for-mobile img{
    width: 30px;

}